body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
}

.board-row:after {
	/*
  clear: both;
	content: "";
	display: table; //*/
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

#root,
.board,
.game-board,
.game-root {
	text-align: center;
	width: 100vw;
}

.game-info {
	margin-left: 20px;
}

.row {
	display: inline-block;
}

table.board-table {
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

.board-table tr {
	font-size: 0px;
	padding: 0px;
	margin: 0px;
}

.subBoard,
.row {
	border: solid black;
	border-width: 2px;
}
